{% extends 'flatpages/default.html'%}


<title>{{ flatpage.title}}</title>

{% block register%}

<form class="form-horizontal" action='' method="POST">
{% csrf_token %}
<fieldset>

<div class="control-group">
      <label class="control-label" for="usertype">Выберите тип пользователя</label>
      <div class="controls">
        <select>
            <option value="user_type">Обычный пользователь</option>
            <option value="contr_type">Контрагент</option>
        </select>

    </div>
</div>

<div class="control-group {% if form.username.errors %}error{% endif %}">
    <label class="control-label"  for="id_username">{{ form.username.label }}</label>
        <div class="controls">
            {{ form.username }}
            {% if form.username.errors %}<span class="help-inline">{{ form.username.errors|join:", " }}</span>{% endif %}
    </div>
</div>

<div class="control-group {% if form.password1.errors %}error{% endif %}">
    <label class="control-label" for="id_password1">{{ form.password1.label }}</label>
        <div class="controls">
            {{ form.password1 }}
            {% if form.password1.errors %}<span class="help-inline">{{ form.password1.errors|join:", " }}</span>{% endif %}

    </div>
</div>

<div class="control-group {% if form.password2.errors %}error{% endif %}">
    <label class="control-label" for="id_password2">{{ form.password2.label }}</label>
        <div class="controls">
        {{ form.password2 }}
        {% if form.password2.errors %}<span class="help-inline">{{ form.password2.errors|join:", " }}</span>{% endif %}
    </div>
</div>


<div class="control-group">
    <div class="controls">
        <button class="btn btn-success">Регистрация</button>
    </div>
</div>


</fieldset>
</form>



{% endblock %}