{% extends 'flatpages/default.html'%}


<title>{{ flatpage.title}}</title>

{% block register%}
<form class="form-horizontal" action='/' method="GET">
<fieldset>
    
<div class="control-group">
      <label class="control-label" for="usertype">UserType</label>
      <div class="controls">
        <select>
            <option value="user_type">Пользователь</option>
            <option value="contr_type">Контрагент</option>
        </select>
         
    </div>
</div>


<div class="control-group">
    <label class="control-label"  for="username">Username</label>
        <div class="controls">
        <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
    </div>
</div>


<div class="control-group">
    <label class="control-label"  for="name">Name</label>
        <div class="controls">
        <input type="text" id="name" name="name" placeholder="" class="input-xlarge">
    </div>
</div>


<div class="control-group">
    <label class="control-label"  for="secondname">Second Name</label>
        <div class="controls">
        <input type="text" id="secondname" name="secondname" placeholder="" class="input-xlarge">
    </div>
</div>


<div class="control-group">
    <label class="control-label" for="password">Password</label>
        <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
    </div>
</div>


<div class="control-group">
    <div class="controls">
        <button class="btn btn-success">Регистрация</button>
    </div>
</div>


</fieldset>
</form>



{% endblock %}