<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Регистрация <strong class="caret"></strong></a>
    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
        <form id="registration" action="" method="POST" accept-charset="UTF-8">
            {% csrf_token %}
            {{ form.username.errors }}
            <label for="user_username">Username</label>
            {{ form.username }}
            {{ form.email.errors }}
            <label for="user_email">Email</label>
            {{ form.email }}
            {{ form.password1.errors }}
            <label for="user_password">Пароль</label>
            {{ form.password1 }}
            {{ form.password2.errors }}
            <label for="user_password2">Повторите пароль</label>
            {{ form.password2 }}
            <input class="btn btn-primary"
            style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit"
            name="commit" value="Зарегистрироваться"/>
        </form>
    </div>
</li>