{% extends 'default.html' %}
{% block profile %}

<body>

<ul class="breadcrumb">
{% if parents %}
            <li><a href="/">Домой</a> <span class="divider">/</span></li>
    {% for position, parent in parents %}
            <li><a href="{{ parent.slug }}">{{ parent.name }}</a> <span class="divider">/</span></li>
    {% endfor %}
{% else %}
        <li><a href="/">Домой</a> <span class="divider">/</span></li>
{% endif %}
    <li class="active">{{ current.name }}</li>
</ul>

    {% if categories%}

        <div align="center">
        {% for category  in categories %}
            <h4><a href="/{{ category.slug }}">{{category.name}}</a></h4>
        {% endfor %}
        </div>
    {% endif %}

    {% if businesses %}
        <table class="table table-striped">
            {% for b in businesses %}
                <tr><td><a href="{{current.slug}}/{{b.id}}" alt="Подробнее">{{ b.contr_name}}</a></td><td>{{b.phone}}</td><td><a href="#" alt="Посмотреть на карте">{{ b.street1 }} {{b.building}}</a></td><td>{{ b.detail }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}


{% endblock %}