{% extends 'default.html' %}
{% block content %}

<ul class="breadcrumb">
{% if parents %}
            <li><a href="/">Домой</a> <span class="divider">/</span></li>
    {% for parent in parents %}
            <li><a href="{% url show_category parent.slug %}">{{ parent.name }}</a> <span class="divider">/</span></li>
    {% endfor %}
{% else %}
        <li><a href="/">Домой</a> <span class="divider">/</span></li>
{% endif %}
    <li class="active"><li><a href="{% url show_category current.slug %}">{{ current.name }}</a></li>
</ul>

<h2>{{ b.name }}</h2>
<div>
    <ul>
        <li><a href="tel:{{b.phone}}">Телефон: {{b.phone}}</a></li>
        <li>Адрес: {{b.street1}} {{b.street2}} {{b.building}}
    </ul>
</div>

<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>

<div id="map" style="width: 600px; height: 400px"></div>

<script type="text/javascript">
    function init(){
        var myMap,
            myPlacemark,
            zoom=14;
            myMap = new ymaps.Map ("map", {
                center: [50, 30],
                zoom: 5,
            });
        {% if b.latitude %}
            myPlacemark = new ymaps.Placemark([{{b.latitude|floatformat}}, {{b.longitude|floatformat}}], {
                content: '{{b.name}}',
                balloonContent: '{{b.phone}} {{b.detail}}'
            });

            myMap.geoObjects.add(myPlacemark);
            myMap.setCenter([{{b.latitude|floatformat}}, {{b.longitude|floatformat}}], zoom)
        {% else %}
            var myGeocoder = ymaps.geocode('{{b.city}}, {{b.street1}} {{b.street2}}, {{b.building}}');
            myGeocoder.then(
                function (res) {
                    var business = res.geoObjects.get(0)
                    business.properties.set('iconContent', '{{b.name}}');
                    myMap.geoObjects.add(business);
                    console.log(business.geometry);
                    myMap.setCenter(business.geometry.getCoordinates(), zoom);
                },
                function (err) {
                    alert('Координаты не определены');
                }
            );
        {% endif %}

        myMap.controls.add(new ymaps.control.ZoomControl());
        }
      ymaps.ready(init);
</script>

{% endblock %}