{% load staticfiles %}
<!doctype html>
<html lang='ru'>

<head>
    <title>{{ flatpage.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>

<body>
        <div class="navbar">
            <div class="navbar-inner">
                <!-- Start of the nav bar content -->
                <div class="container"><!-- Collapsable nav bar -->
                    <!-- Your site name for the upper left corner of the site -->
                    <a class="brand" href="/">Запись онлайн</a>
                    <ul class="nav">
                        <li><a href="/about/">About</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="/profile/">Профиль</a></li>
                        {% endif %}
                    </ul>
                    {% if not user.is_authenticated %}
                        <ul class="nav pull-right">
                            {% include 'register.html' %}
                            <li class="divider-vertical"></li>
                            {% include 'login.html' %}
                        </ul>
                    {% else %}
                        <ul class="nav pull-right">
                            <li><a href="/profile">Вы вошли как {{ user.username }}.</a></li>
                            <li><a href="{% url logout %}">Выйти</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
<div class="row-fluid">
    {% if messages %}
        {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-block alert-error fade in">
                {% else %}
                <div class="alert fade in">
                {% endif %}
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>{{ message }}</strong>
                </div>
        {% endfor %}
    {% endif %}
    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <div class="alert alert-error fade in">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Ошибка в поле {{ field }}: {{ error }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
    {% if not user.is_authenticated %}
        <div class="center">
            <p>Сайт становится лучше, если на нем зарегистрироваться!</p>
        </div>
    {% endif %}
    <p class="text-info center">Записаться на прием к стоматологу, стилисту, парикмахеру или юристу в двадцать два клика</p>
</div>

</body>
</html>