{% load staticfiles %}
<!doctype html>
<html>

<head>
    <title>{{ flatpage.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="{% static "css/divshot-util.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.validate.js" %}"></script>
    <style type="text/css">
    label { width: 10em; float: left; }
    label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
    p { clear: both; }
    .submit { margin-left: 12em; }
    em { font-weight: bold; padding-right: 1em; vertical-align: top; }
    </style>
    <script>
    $(document).ready(function(){
        $("#registration").validate();
    })
    ;  </script>
</head>

<body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container"><!-- Collapsable nav bar -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Your site name for the upper left corner of the site -->
                    <ul class="nav">
                        <li class="active"><a href="/">Домой</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/contacts/">Контакты</a></li>
	                    {% if user.is_authenticated %}
	                    <li><a href="/profile/">Профиль</a></li>
	                    {% endif %}

                    </ul>

                    <!-- Start of the nav bar content -->
                    {% if not user.is_authenticated %}
                    <div class="nav-collapse">
                        <!-- The drop down menu -->
                        <ul class="nav pull-right">
                            {% include 'register.html' %}
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Вход <strong class="caret"></strong></a>
                                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                    <form action="/login/" method="POST" accept-charset="UTF-8">
                                        {% csrf_token %}
                                        <label for="username">Имя пользователя</label>
                                        <input id="username" style="margin-bottom: 15px;" type="text" name="username"
                                        size="30"/>
                                        <label for="password">Пароль</label>
                                        <input id="password" style="margin-bottom: 15px;" type="password"
                                        name="password" size="30"/>
                                        <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox"
                                        name="user[remember_me]" value="1"/>
                                        <label class="string optional" for="user_remember_me">Запомнить меня</label>

                                        <input class="btn btn-primary"
                                        style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit"
                                        name="commit" value="Войти"/>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="nav-collapse">
                        <!-- The drop down menu -->
                        <ul class="nav pull-right">
                            <li><a href="/profile">Вы вошли как {{ user.username }}.</a></li>
                            <li><a href="{% url logout %}">Выйти</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    {% if messages %}
        {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-block alert-error fade in">
                {% else %}
                <div class="alert fade in">
                {% endif %}
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>{{ message }}</strong>
                </div>
        {% endfor %}
    {% endif %}
    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <div class="alert alert-error fade in">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Ошибка в поле {{ field }}: {{ error }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

        <div class="container">
            <div class="page-header">
                <h1 class="align-center">Запись онлайн</h1>
            </div>
            <div class="container">{{ flatpage.content }}</div>
            {% block profile %}
            {% endblock %}
            <div align="center">
                {% if user.is_authenticated %}
                <p>Рады видеть вас снова, {{ user.username }}.</p>
                {% else %}
                <p>Зарегистрируйтесь, чтобы получить доступ ко всей функциональности сайта!</p>
                {% endif %}
            </div>
            <p class="text-info lead align-center">Записаться на прием к стоматологу, стилисту, парикмахеру или юристу в
                два клика</p>
        </div>
            <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>